html, body {
  font-family: 'Roboto', sans-serif;
  color: $baseFontColor;
}
 
img {
  max-width: 100%;
  height: auto;
}

a:link,
a:visited {
    color: $baseOrange;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid $baseOrange;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: $baseFontColor;
    border-bottom: 1px solid transparent;
}

.divContainer{
  background-color: #eee;
  height:100vh;
}

.divMain{
  padding-bottom: 5rem;
  min-height: 100%;
}

#resFooter{
  position: relative;
  margin-top: -5rem; /* negative value of footer height */
  height: 5rem;
  clear: both;
  background-color: $baseFontColor;
}