<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Admin Page</title>
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css">
    <link rel="stylesheet" href='/stylesheets/styles.css'/>
  </head>
  <body>
      Test
    <admin-root>Admin loading...</admin-root>
    <script src="/js/app/bundle.js"></script>
    {{!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>--}}
  </body>
</html>