<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Resource Tracker</title>
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css">
    <link rel="stylesheet" href='/stylesheets/styles.css'/>
</head>
<body>
    <resource-root appReqType="{{appReqType}}">Loading...</resource-root>
    <script src="/js/app/bundle.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
</body>
</html>
