html {
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
 
img {
  max-width: 100%; 
  height: auto;
}

.divContainer{
  padding-top: 60px;
  height: (100vh - 60px);
}

.divMain{
  padding-bottom: 5rem;
  min-height: 100%;
}
