<div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
       <label for="firstName">First Name</label>
       <input type="text" id="firstName" class="form-control" formControlName="firstName">
    </div>
    <div class="form-group">
       <label for="lastName">Last Name</label>
       <input type="text" id="lastName" class="form-control" formControlName="lastName">
    </div>
    <div class="form-group">
       <label for="email">Email</label>
       <input type="email" id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
       <label for="password">Password</label>
       <input type="password" id="password" class="form-control" formControlName="password">
    </div>
    <div class="form-group">
       <label for="confirmPassword">Confirm Password</label>
       <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
    </div>
    <div class="form-group">
       <label for="dob">Date of Birth</label>
       <input type="date" id="dob" class="form-control" formControlName="dob">
    </div>
    <div class="form-group">
       <label for="company">Company</label>
       <input type="text" id="company" class="form-control" formControlName="company">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid">Submit</button>
  </form>
</div>