.resLogo{
    position: relative;
    height: 5rem;
    background-color: $baseFontColor;
    border: 1px solid $baseOrange;

    &__btn{
        float: right;
        margin: .6rem;
    }
}

.resFooter{
  position: relative;
  margin-top: -5.5rem; /* negative value of footer height */
  height: 5rem;
  clear: both;
  background-color: $baseFontColor;
  border: 1px solid $baseOrange;
}